<div class="card flex justify-center w-full  mx-auto px-4 mt-2 mx-2">
    <p-panel header="A Cerca de" [toggleable]="true">
        <p class="m-0">
            Esta aplicación representa una biblioteca personal digital desarrollada por Houdini. 
            Es una plataforma diseñada para organizar, gestionar y acceder a tu colección personal de libros de manera digital. 
            Con una interfaz intuitiva y moderna, podrás mantener un registro detallado de tus lecturas, 
            organizar tus libros por categorías y tener acceso a tu biblioteca desde cualquier dispositivo.
        </p>
    </p-panel>
</div>
