<div class="card flex justify-center w-full mx-auto px-4 mt-2 mx-2">
    <p-panel header="Licencia" [toggleable]="true">
        <p class="m-0">
            <strong>Propiedad Intelectual:</strong> Este software es propiedad intelectual de Houdini. 
            Todos los derechos están reservados. Queda estrictamente prohibido:
        </p>
        <ul>
            <li>Distribuir, copiar o modificar el código fuente sin autorización expresa</li>
            <li>Utilizar el código para fines comerciales sin permiso</li>
            <li>Realizar ingeniería inversa del software</li>
        </ul>
        <br>
        <p class="m-0">
            <strong>Tecnologías Utilizadas:</strong> Esta aplicación ha sido desarrollada utilizando:
        </p>
        <ul>
            <li>Angular 19 como framework principal</li>
            <li>PrimeNG para componentes de UI</li>
            <li>Tailwind CSS para estilos</li>
            <li>Flowbite para componentes adicionales</li>
            <li>NGsonner para funcionalidades específicas</li>
        </ul>
        <br>
        <p class="m-0">
            <strong>Uso Personal:</strong> Esta licencia permite el uso personal de la aplicación para gestionar la biblioteca personal sin restricciones. 
            El usuario tiene la facultad de personalizar la interfaz y configurar sus preferencias según sus necesidades, 
            así como realizar copias de seguridad de sus datos personales. Es obligatorio mantener visible la atribución original al desarrollador (Houdini) 
            y está estrictamente prohibida la redistribución o venta de la aplicación. El usuario asume la responsabilidad de mantener la confidencialidad 
            de su enlace de acceso y cualquier uso que se haga del mismo.
        </p>
        <br>
        <p class="m-0">
            <strong>Modificaciones:</strong> Cualquier modificación o mejora realizada en el código debe ser comunicada 
            al desarrollador original (Houdini) antes de su implementación.
        </p>
        <br>
        <p class="m-0">
            <strong>Responsabilidad:</strong> El desarrollador no se hace responsable por:
        </p>
        <ul>
            <li>Modificaciones no autorizadas del código</li>
            <li>Uso indebido de la aplicación</li>
            <li>Problemas derivados de la modificación no autorizada del software</li>
        </ul>
    </p-panel>
</div>
